# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Model files (IMPORTANT)
*.pkl

# Dataset files (since you're using Google Drive)
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db